@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");

body{
    background-image:url("tile.jpg");
}

#title{
    margin: auto;
    width: 40%;
    border: 3px solid black;
    padding: auto;
    text-align: center;
    height: 40%;
    font-family: 'Permanent Marker', cursive;
    font-size: 40px;
  }

#inputArea{
    background-image: url("https://d3m9l0v76dty0.cloudfront.net/system/photos/3020167/show/f3601b1c0b3e0b027b0851a95dcd52c8.jpg");
    width: 800px;
    height:300px;
    margin:auto;
    background-size: cover;
    position: relative;
}

#task{
    position: absolute;
    top: 145px;
    left: 25px;
    height:50px;
    width: 330px;
    background-color: rgb(201, 214, 21);
    color: black;
    font-size: 17px;
    text-align: center;
}

#date{
    position: absolute;
    top: 200px;
    left: 25px;
    text-align: center;
    height:50px;
    background-color: rgb(201, 214, 21);
    color: black;
    font-size: 17px;
}

#time {
    position: absolute;
    top: 200px;
    left: 225px;
    text-align: center;
    height:50px;
    width:130px;
    background-color: rgb(201, 214, 21);
    color: black;
    font-size: 17px;
}
h1{
    text-align: center;
    padding-top: 15px;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

#clearData {
    position: absolute;
    top: 215px;
    left: 400px;
    text-align: center;
    height:50px;
    width:80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: red;
    color: white;
    font-size: 17px;
    opacity:0.5;
    
}
#clearData:hover{
    opacity:1;
    color:black;
}
#submitData {
    position: absolute;
    top: 145px;
    left: 400px;
    text-align: center;
    height:50px;
    width:80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-color: green;
    color:white;
    font-size: 17px;
}
#submitData:hover {
    background-color: darkgreen;
    color:yellow;
    
}

#notesArea {
    height: 475px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    overflow:auto;
}

#note.fade{
    color:black;
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
    background-image: url("notebg.png");
    position: relative;
    text-align: center;
    width:200px;
    height:250px;
    margin:20px;
    animation: fadein 2s;
    opacity:1;
    
}

#X{
    position:absolute;
    top:15px;
    right:25px;
    width: 20px;
    height:20px;
    border: 3px black solid;
    opacity:0;
    color: red;
    cursor: pointer;
}
#X:hover{
    opacity:1;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

#textArea{
    position:absolute;
    top: 60px;
    left:25px;
    width:125px;
    height:125px;
    overflow:auto;
    word-wrap:break-word;
    font-size:20px;

}

#dateArea{
    position:absolute;
    bottom:25px;
    width:100px;
    height:20px;
    left: -5px;
    font-size: 15px;
}


#timeArea{
    position:absolute;
    bottom: 20px;
    left: -27px;
    width:100px;
    height:5px;
    font-size: 15px;
}
